.gallery {
  background-color: #00274a;
  margin-top: 80px;
  padding: 60px 0 30px 0;
}

.gallery .titlepage h2 {
  color: #fff;
}

.gallery .titlepage h2::before {
  background-color: #000;
  top: 65px;
}

.gallery .titlepage p {
  color: #fff;
  font-size: 17px;
  line-height: 28px;
  margin-top: 30px;
}

.gallery .gallery_box {
  overflow: hidden;
  margin-bottom: 30px;
  transition: ease-in all 0.4s;
}

.gallery .gallery_img :hover {
  transform: scale(1.2);
  transition: ease-in all 0.3s;
}

.gallery .gallery_img {
  width: 100%;
  transition: ease-in all 0.3s;
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
}

.gallery .gallery_img img {
  width: 100%;
  transition: ease-in all 0.3s;
  display: block;
}
