.about {
  background-color: #fff;
  padding-top: 80px;
}

.about .titlepage {
  text-align: left;
  padding-bottom: 0;
  max-width: 443px;
  width: 100%;
  float: right;
}

.about .titlepage h2 {
  margin-bottom: 25px;
}

.about .titlepage p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #090808;
}

.about_img {
  overflow: hidden;
}

.about_img figure {
  margin: 0;
}

.about_img figure img {
  width: 100%;
  transition: all .5s;
}

.about_img figure img:hover {
  transform: scale(1.2);
}
