.banner_main {
    position: relative;
}

.banner .carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 30px;
    background: #000;
}

.banner .carousel-indicators .active {
    background-color: #fe0000;
}

.banner_text {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.stewart span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 44px;
    line-height: 35px;
    color: #fff;
    display: block;
    padding-bottom: 24px;
}

.stewart h1 {
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 111px;
    line-height: 90px;
    color: #fff;
}

.stewart p {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #fff;
}

.stewart .read_more {
    max-width: 205px;
    height: 53px;
    padding: 10px 0;
    color: #fff !important;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #00274a;
}

.stewart .read_more:hover {
    background-color: #121212;
}

#myCarousel a.carousel-control-next,
#myCarousel a.carousel-control-prev {
    top: 80%;
    background: #111;
    opacity: 1;
    font-size: 30px;
    width: 69px;
    color: #fff;
    height: 68px;
    border-radius: 50%;
}

#myCarousel a.carousel-control-next:focus,
#myCarousel a.carousel-control-next:hover,
#myCarousel a.carousel-control-prev:focus,
#myCarousel a.carousel-control-prev:hover {
    background: #fff;
    color: #111;
}

#myCarousel a.carousel-control-prev {
    position: absolute;
    left: 8%;
}

#myCarousel a.carousel-control-next {
    position: absolute;
    right: 81%;
}

.carousel-indicators {
    display: none;
}


@media (min-width: 1200px) and (max-width: 1342px) {
  #myCarousel a.carousel-control-prev {
    left: 7%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .stewart h1 {
    font-size: 79px;
    line-height: 73px;
  }
  #myCarousel a.carousel-control-prev {
    left: 4%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .stewart span {
    font-size: 35px;
    line-height: 29px;
  }
  .carousel-item img {
    height: 500px;
  }
  .stewart h1 {
    font-size: 61px;
    line-height: 41px;
  }
  #myCarousel a.carousel-control-prev {
    left: 1%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .carousel-item img {
    min-height: 570px;
  }
  .stewart span {
    font-size: 35px;
    line-height: 29px;
  }
  .stewart h1 {
    font-size: 53px;
    line-height: 41px;
  }
  #myCarousel a.carousel-control-next {
    right: 68%;
  }

}

@media (max-width: 575px) {
  .stewart span {
    font-size: 25px;
    line-height: 23px;
  }
  .stewart h1 {
    font-size: 34px;
    padding-bottom: 27px;
    line-height: 30px;
  }
  #myCarousel a.carousel-control-next {
    right: 60%;
  }
  .stewart .read_more {
    margin-top: 30px;
  }
  .carousel-item img {
    min-height: 445px;
  }
  #myCarousel a.carousel-control-next,
  #myCarousel a.carousel-control-prev {
    top: 86%;
    font-size: 24px;
    width: 50px;
    height: 50px;
  }
  .titlepage h2 {
    font-size: 28px;
  }
  .main_form .send_btn {
    margin-bottom: 30px;
  }
}
