<app-shared-banner></app-shared-banner>

<div class="about">
  <div class="container">
    <div class="row d_flex">
      <div class="col-md-5">
        <div class="titlepage">
          <h2 id="title" >About Fitness</h2>
          <p>{{aboutRead}} </p>
          <a class="read_more" href="Javascript:void(0)">Read More</a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="about_img">
      <app-shared-about></app-shared-about>
      </div>
      </div>
      </div>
  </div>
</div>


<app-shared-services></app-shared-services>
<app-shared-news></app-shared-news>
<app-shared-trainer></app-shared-trainer>

<div  class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Gallery</h2>
          <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
        </div>
      </div>
    </div>
 <app-shared-gallery></app-shared-gallery>
  </div>
  </div>


