<app-shared-banner></app-shared-banner>
<app-shared-about></app-shared-about>
<app-shared-services></app-shared-services>
<app-shared-news></app-shared-news>
<app-shared-trainer></app-shared-trainer>

<div  class="gallery">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Gallery</h2>
          <p>The point of using Lorem Ipsum is that it has a more-or-less</p>
        </div>
      </div>
    </div>
 <app-shared-gallery></app-shared-gallery>
  </div>
  </div>


