<app-shared-banner></app-shared-banner>
<app-shared-about>
  <h2 class="h2">ABOUT FITNESS</h2>
</app-shared-about>
<app-shared-services>
  <h2 class="h2-gallery-services">Our Services</h2>
</app-shared-services>
<app-shared-news>
  <h2>Latest News</h2>
</app-shared-news>
<app-shared-trainer>
  <h2 class="h2-trainer">Our Trainers</h2>
</app-shared-trainer>
<app-shared-gallery>
  <h2 class="h2-gallery-services">Gallery</h2>
</app-shared-gallery>
<app-shared-contact>
  <h2>Request A call  for You</h2>
</app-shared-contact>



